.container {
    padding-bottom: 0.5rem;
}

.container>h2 {
    margin-bottom: 0.25rem;
}

.box {
    min-height: 48px;
    background-color: #006cfa;
    border: 1px solid #ffffff;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
}

.box .row {
    padding: 1rem;
}

.box .box {
    background-color: #00e165;
    border: 1px solid #006cfa;
}