.bg-black {
    background-color: #000000;
}

.bg-lime {
    background-color: #80bf00;
}

.bg-brown {
    background-color: #bf3f00;
}

.bg-pink {
    background-color: #ff9f40;
}

.bg-lightpink {
    background-color: #fbcdab;
}

.bg-red {
    background-color: #ee3d1f;
}

.bg-orange {
    background-color: #f3882a;
}

.bg-senape {
    background-color: #fbc437;
}

.bg-beige {
    background-color: #bd681e;
}